{
  "extends": [
    "standard",
    "standard-react",
    "prettier",
    "prettier/react",
    "prettier/standard",
    "plugin:css-modules/recommended",
  ],
  "plugins": [
    "react",
    "css-modules",
    "prettier",
    "jest"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "es6": true,
    "node": true,
    "jest/globals": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "semi": false
      }
    ],
    "react/jsx-pascal-case": ["error", { "allowAllCaps": true }]
  },
  "globals": {
    "graphql": true,
    "cy": true
  }
}
