{
  "parser": "@babel/eslint-parser",
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "parserOptions": {
    "requireConfigFile": false,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "plugins": [
    "css-modules",
    "jest"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:css-modules/recommended",
    "plugin:react/recommended",
    "plugin:testing-library/dom"
  ],
  "globals": {
    "graphql": true
  }
}
