{
  "plugins": [
    "stylelint-scss",
    "stylelint-declaration-block-no-ignored-properties"
  ],
  "extends": "stylelint-config-sass-guidelines",
  "rules": {
    "selector-no-qualifying-type": [true, { "ignore": ["class", "attribute"]}],
    "max-nesting-depth": 4,
    "selector-max-compound-selectors": 4,
    "selector-class-pattern": "^[a-z][a-zA-Z-]*$",

    "declaration-property-unit-allowed-list": {
      "font-size": ["rem"],
      "width": ["rem", "%"],
      "height": ["rem", "%", "px"],
      "/^margin": ["rem"],
      "/^padding": ["rem"]
    },
    "unit-disallowed-list": ["em"],

    "plugin/declaration-block-no-ignored-properties": true
  }
}
