@use '../../layouts/colors' as *;

.underline {
  position: relative;

  &::before {
    background-color: $white;
    bottom: 0.375rem;
    content: '';
    height: 1px;
    left: 0.5rem;
    opacity: 0;
    position: absolute;
    right: 100%;
    transition: all 0.5s ease-in-out;
  }

  &:hover {
    &::before {
      opacity: 0.5;
      right: 0.5rem;
    }
  }
}

.icon {
  transition: all 0.5s ease;

  &:hover {
    transform: scale(1.5);
  }
}
