@use 'sass:map';
@use '../../layouts/colors';

.tag {
  background-color: map.get(colors.$theme-colors, 'primary');
  color: colors.$white;

  &:hover {
    background-color: map.get(colors.$theme-colors, 'highlight');
  }
}
