.related {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  flex: 33%;
  padding: 1rem;

  &:not(:last-child) {
    margin-right: 1rem;
  }
}
