@import '../../layouts/fonts';

.techList {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
  padding: 0;
  place-items: center;

  @media only screen and (min-width: 700px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media only screen and (min-width: 900px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.tech {
  list-style: none;

  i {
    font-size: $display4-size;

    &[data-emergence='visible'] {
      animation: bounceIn 2s;
      opacity: 1;
    }

    &[data-emergence='hidden'] {
      opacity: 0;
    }
  }
}
