@use './fonts' as *;

.horizontal-section {
  padding: 4rem 0;

  .section-heading {
    font-family: $font-family-monospace;
  }

  .slide-left {
    &[data-emergence='visible'] {
      animation: slideInLeft 1s;
      opacity: 1;
    }

    &[data-emergence='hidden'] {
      opacity: 0;
    }
  }

  .slide-right {
    &[data-emergence='visible'] {
      animation: slideInRight 1s;
      opacity: 1;
    }

    &[data-emergence='hidden'] {
      opacity: 0;
    }
  }
}
