name: Publish
on:
  push:
    branches:
      - master

permissions:
  contents: read
  actions: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - run: npm install
      - run: ./go linter-js
      - run: ./go linter-css
      - run: npm test -- --coverage --runInBand
      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - run: ./go build
        env:
          SITE_URL: https://${{ secrets.DOMAIN }}
      - name: Deploy to Github Pages
        run: |
          echo "${DOMAIN}" > ./${BUILD_FOLDER}/CNAME
          git remote set-url origin https://git:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
          npx gh-pages -d ${BUILD_FOLDER} -u "github-actions-bot <support+actions@github.com>"
        env:
          BUILD_FOLDER: public
          DOMAIN: ${{ secrets.DOMAIN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  security:
    needs: publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: ZAP Scan
        uses: zaproxy/action-baseline@v0.15.0
        with:
          docker_name: 'ghcr.io/zaproxy/zaproxy:stable'
          target: https://${{ secrets.DOMAIN }}
          token: ${{ secrets.GITHUB_TOKEN }}
          rules_file_name: zap.conf

  post-deploy:
    needs: publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - run: npm install
      - name: e2e
        uses: cypress-io/github-action@v4
        env:
          CYPRESS_baseUrl: https://${{ secrets.DOMAIN }}
      - run: ./go lighthouse
        env:
          SITE_URL: https://${{ secrets.DOMAIN }}
