name: Test
on:
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - run: npm install
      - run: ./go linter-js
      - run: ./go linter-css
      - run: npm test -- --coverage --runInBand
      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - run: ./go build
        env:
          SITE_URL: https://${{ secrets.DOMAIN }}
